* {
    font-family: 'Maven Pro', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.header {

}

h1.header {
    padding: 20px;
    margin: auto;
    text-align: center;
}